/*STYLESHEET FOR THE ASGARD RESIDENTIAL FORM*/
@font-face{
    font-family: Norse-Font;
    src:url(fonts/Norse-Bold.otf);
}

body{
    display:flex;
    margin:0px;
       
}

.image-banner-section{
    background-image: url(./images/mjolnir.jpg);
    background-size: cover;
    width:40%;       
}

