/*STYLESHEET FOR THE ASGARD RESIDENTIAL FORM*/
@font-face{
    font-family: Norse-Font;
    src:url(fonts/Norse-Bold.otf);
}

body{
    display:flex;
    margin:0px;
    height:100vh;       
}

.image-banner-section{
    background-image: url(./images/mjolnir.jpg);
    background-size: cover;
    width:40%;       
}

.rustic-font{
    font-family: Norse-Font;
    font-size:10rem;
    margin:0px;
    color:antiquewhite;
}

#odin-image{
    height:10rem;
    display:inline;
}

